
body{
  overflow: hidden;
}

.image{
  position: absolute;
  top: -40%;
  left: 5%;
  width: 25%;
}

.image2{
  position: absolute;
  bottom: -30%;
  left: 5%;
  width: 25%;
}

.text{
  position: absolute;
  bottom: 19%;
  left: 20%;
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  transform: rotate(-90deg);
}

.text2{
  position: absolute;
  top: 10%;
  left: 0%;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}

.box{
  position: absolute;
  top: 30%;
  left: 40%;
  width: 50%;
  height: 100%;
}

.circle{
  position: absolute;
  top: 85%;
  left: 70%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.5px solid black;
  background-color: #fee3ed;
}

.circle:hover{
  transform: scale(1.2);
}

.circle2{
  position: absolute;
  top: 85%;
  left: 75%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.5px solid black;
  background-color: #fee3ed;
}

.circle2:hover{
  transform: scale(1.2);
}

.circle3{
  position: absolute;
  top: 85%;
  left: 80%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.5px solid black;
  background-color: #fee3ed;
}

.circle3:hover{
  transform: scale(1.2);
}

.circle4{
  position: absolute;
  top: 85%;
  left: 85%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.5px solid black;
  background-color: #fee3ed;
}

.circle4:hover{
  transform: scale(1.2);
}

.circle5{
  position: absolute;
  top: 85%;
  left: 90%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.5px solid black;
  background-color: #d195b4;
}

.circle5:hover{
  transform: scale(1.2);
}

@media only screen and (max-width: 1400px) {

  .image{
    position: absolute;
    top: -35%;
    left: 5%;
    width: 25%;
  }

  .image2{
    position: absolute;
    bottom: -25%;
    left: 5%;
    width: 25%;
  }

  .text{
    position: absolute;
    bottom: 18%;
    left: 18%;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    transform: rotate(-90deg);
  }

}

@media only screen and (max-width: 1200px) {

  .image{
    position: absolute;
    top: -30%;
    left: 5%;
    width: 25%;
  }

  .image2{
    position: absolute;
    bottom: -10%;
    left: 5%;
    width: 25%;
  }

  .text{
    position: absolute;
    bottom: 18%;
    left: 16%;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    transform: rotate(-90deg);
  }

}

@media only screen and (max-width: 1000px) {

  .image{
    position: absolute;
    top: -18%;
    left: 5%;
    width: 25%;
  }

  .image2{
    position: absolute;
    bottom: -5%;
    left: 5%;
    width: 25%;
  }

  .text{
    position: absolute;
    bottom: 18%;
    left: 14%;
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    transform: rotate(-90deg);
  }

}

@media only screen and (max-width: 900px) and (orientation: landscape) {

  body{
    overflow: hidden;
  }

  .image{
    position: absolute;
    top: -40%;
    left: 5%;
    width: 25%;
  }

  .image2{
    position: absolute;
    bottom: -30%;
    left: 5%;
    width: 25%;
  }

  .text{
    position: absolute;
    bottom: 18%;
    left: 21%;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    transform: rotate(-90deg);
  }

  .text2{
    position: absolute;
    top: 10%;
    left: 0%;
    font-family: 'Comfortaa', cursive;
    font-size: 25px;
  }

  .box{
    position: absolute;
    top: 30%;
    left: 40%;
    width: 50%;
    height: 100%;
  }

}
